%  
% **Requête Regards Citoyens / {{ depute }} (CADA n° {{ cada_no }})**
% **LISTE DES PIÈCES**
---
header-includes: |
    \usepackage{fancyhdr}
    \pagestyle{fancy}
---

\ \ \ \

1. Demande de communication de documents adressée par e-mail à {{ depute }} le 16 mai 2017
2. Avis n° {{ cada_no }} de la Commission d'Accès aux Documents Administratifs reçu le {{ cada_date }}.
